PROMETHEUS_MULTIPROC_DIR=tmp/prometheus_metrics
REDIS_SINGLE_URL=redis://:redisPassWord@127.0.0.1:6379/0
LETSGEN_DB_PG_URL=postgres://postgres:pgPassWord@localhost:5432/letsgen_db
LETSGEN_LOG_PG_URL=postgres://postgres:tspgPassWord@localhost:5433/letsgen_log
LETSGEN_PG_TIMEZONE=Asia/Shanghai
LETSGEN_ENCRYPTION_KEY=eichohp0meaP0ooZ
LETSGEN_JWT_SECRET_KEY=utietahzae5Eengi
LETSGEN_DEBUG_FLAG=false
