PROMETHEUS_MULTIPROC_DIR=tmp/prometheus_metrics
REDIS_SINGLE_URL=redis://:redisPassWord@127.0.0.1:6379/0
LETSGEN_DB_PG_URL=postgres://postgres:pgPassWord@localhost:5432/letsgen_db
LETSGEN_LOG_PG_URL=postgres://postgres:tspgPassWord@localhost:5433/letsgen_log
LETSGEN_PG_TIMEZONE=Asia/Shanghai
LETSGEN_MINIO_ENDPOINT=127.0.0.1:9000
LETSGEN_MINIO_ENDPOINT_SECURE=fasle
LETSGEN_MINIO_ACCESS_KEY=yourMinioAccessKey
LETSGEN_MINIO_SECRET_KEY=yourMinioSecretKey
LETSGEN_MINIO_BUCKET_NAME=letsgen
LETSGEN_MINIO_PUBLIC_URL=https://yourPublicDomainForMinio.com
LETSGEN_MINIO_INTERNAL_URL=http://127.0.0.1:9000
LETSGEN_MINIO_OBJECT_PREFIX=
LETSGEN_MINIO_PUBLIC_EXPIRE=86400
LETSGEN_MINIO_INTERNAL_EXPIRE=315532800
LETSGEN_ENCRYPTION_KEY=eichohp0meaP0ooZ
LETSGEN_JWT_SECRET_KEY=utietahzae5Eengi
LETSGEN_DEBUG_FLAG=false
